/**************
* Mate Panel *
***************/
$panel_test1_color: #CC0000;
$panel_test2_color: #73D216;


.mate-panel-menu-bar, .mate-panel-menu-bar menubar,
panel-toplevel.background,
panel-toplevel.background menubar {
  color: $panel_fg_color;
  background-color: $panel_bg_color; }

/* panel font */
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar #PanelApplet label,
.mate-panel-menu-bar #PanelApplet image,
panel-toplevel.background menubar,
panel-toplevel.background #PanelApplet label,
panel-toplevel.background #PanelApplet image {
  color: $panel_fg_color; }

/* panel taskbar font & windowpicker text color*/
.mate-panel-menu-bar button label,
.mate-panel-menu-bar button image,
.mate-panel-menu-bar #tasklist-button label,
.mate-panel-menu-bar #tasklist-button image,
panel-toplevel.background button label,
panel-toplevel.background button image,
panel-toplevel.background #tasklist-button label,
panel-toplevel.background #tasklist-button image {
  /*background-color: $panel_bg_color;*/
  color: $panel_fg_color; }

.mate-panel-menu-bar na-tray-applet,
panel-toplevel.background na-tray-applet {
  -NaTrayApplet-icon-padding: 0;
  -NaTrayApplet-icon-size: 16px;
  color: $panel_fg_color; }

//.mate-panel-menu-bar button,
//#tasklist-button * {
//color: $panel_test_color;
//  text-shadow: none;
//  //background-color: red;
//  //box-shadow: inset 0 -2px #EEEEEC;
//  }

/* VALA APPMENU */
.mate-panel-menu-bar #PanelApplet label {
  box-shadow: none;
  color: $panel_test2_color;
  text-shadow: none;
}

.mate-panel-menu-bar #PanelApplet image {
  box-shadow: none;
  color: $panel_test1_color;
  text-shadow: none;
}

.mate-panel-menu-bar #PanelApplet * {
  color: $panel_test1_color; }
