$button_gradient_color_a: $bg_color;
$button_gradient_color_b: $bg_color;
$button_border: $fg_color;

/****************
 * Mate-Panel   *
 ****************/

/* let's started */
/* the panel bar itself */

.mate-panel-menu-bar {
    background-color: $panel_bg_color;
    background-image: none;
    /* normal panel */
    text-shadow: none;
    color: $panel_text_color;
}

/*stop panel from being spaced above bottom of screen,
  stop failure of cpufreq-appet to show all labels*/

.mate-panel-menu-bar,
.mate-panel-menu-bar * {
    padding: 0px;
    //color: $panel_text_color;
}

/*Keep above from removing padding from menus*/

.mate-panel-menu-bar menuitem,
.mate-panel-menu-bar .menuitem{
    padding: 6px;
    //color: $panel_text_color;
}

/* workaround to avoid unwanted black frames if switching compositor on/off */
.mate-panel-menu-bar .window-frame.csd.popup {
    box-shadow: none;
    //color: $panel_text_color;
}


.mate-panel-menu-bar menubar,
.mate-panel-menu-bar menubar menuitem,
.mate-panel-menu-bar togglebutton {
    border-image: none;
    border-color: transparent;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    //color: $panel_text_color;
}

/* this makes text readable with all kind of wallpapers if using a transparent panel */
/*Limit this to the panel itself, keeping it off the menus*/
#PanelApplet label,
.mate-panel-menu-bar menubar > menuitem {
    //color: $menu_fg_dark_color;
    text-shadow: 1px 1px alpha (#000000, 0.8);
}

/* panel grip */
.mate-panel-menu-bar.background {
    border-radius: 3px;
/* enable for making borders visible */
/*    box-shadow: inset  0px  1px shade ($selected_bg_color, 1.3),
                inset  1px  0px shade ($selected_bg_color, 1.3),
                inset -1px  0px shade ($selected_bg_color, 1.3),
                inset  0px -1px shade ($selected_bg_color, 1.3); */
}

/* Keep rounded applet borders from renderin with darker corners */

#PanelPlug {
    border-radius: 0px;
}


/*sliders now need a background*/

.mate-panel-applet-slider frame{
    background-color:$bg_color;
}

/*
MatePanelApplet {
    border-width: 0;
}

MatePanelAppletFrameDBus PanelSeparator,
PanelSeparator {
    border-width: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade ($bg_color, 0.96)),
                                     to (shade ($bg_color, 1.05)));
    color: shade ($fg_color, 0.45);
    text-shadow: none;
}
*/
/* FIXME, this does not work anymore with >= gtk+-3.20 */
/* dictionary applet */
GdictApplet .entry,
GdictApplet .entry:focus {
    border-style: none;
    padding: 1px 4px 5px 4px;
    box-shadow: inset  0px  1px shade ($selected_bg_color, 1.3),
                inset  1px  0px shade ($selected_bg_color, 1.3),
                inset -1px  0px shade ($selected_bg_color, 1.3),
                inset  0px -1px shade ($selected_bg_color, 1.3);
}

/* the grid left from wnckpager and wncktasklist */
MatePanelAppletFrameDBus {
    //background-image: -gtk-scaled(url("assets/panel-grid.svg"));
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
}

/* set all menuitems */
.mate-panel-menu-bar menuitem {
    transition: all 300ms ease-out;
}

.mate-panel-menu-bar menubar > menuitem {
    padding: 3px 7px;
}

/* set selected menubar menuitem */
.mate-panel-menu-bar menubar > menuitem:hover {
    background-image: none;
    background-color: $selected_bg_color;
    border-style: solid;
    border-image: none;
    /* join menuitem to menu */
    border-radius: 3px 3px 0px 0px;
    border-width: 0px;
    border-color: $selected_bg_color;
    color: $fg_color;
}

/* set selected menu menuitem */
.mate-panel-menu-bar menu > menuitem:hover {
    //background-image: linear-gradient(to bottom,
    //                                  shade($selected_bg_color, 1.2),
    //                                  shade($selected_bg_color, 0.3));
    color: $fg_color;
    border-style: solid;
    //border-width: 1px;
    //border-radius: 3px;
    //border-image: url("assets/menu-border-dark.svg") 2 / 2px stretch;
}

/* hide buttons by default */
.mate-panel-menu-bar button {
    background: transparent;
    border-image: none;
    border-radius: 3px;
    border-width: 0px;
    padding: 0px;
    box-shadow: none;
}

/*outline focussed buttons for keyboard use */
.mate-panel-menu-bar button, .gnome-panel-menu-bar button{
    outline-offset: -2px;
    outline-width: 2px;
}

/* Mate menu button normal */
/* makes the arrow visible, nothing more works */
.mate-panel-menu-bar menu menuitem button {
    background-image: none;
    background-color: transparent;
    color: shade ($fg_color, 1.00);
}

/* FIXME, this does not work anymore with >= gtk+-3.20 */
/* desktop-applet, clockapplet, drivemount, character-map,
dictionary */
.mate-panel-menu-bar .button,
.mate-panel-menu-bar .button.flat {
    transition: all 400ms ease-out;
    border-radius: 1px;
    padding: 2px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    text-shadow: none;
    /* normal panel */
    color: $fg_color;
    /* transparent panel light desktop background*/
/*  color: @theme_selected_fg_color; */
    background-image: none;
}

.mate-panel-menu-bar .button:checked:hover,
.mate-panel-menu-bar .button:checked,
.mate-panel-menu-bar .button:active:hover,
.mate-panel-menu-bar .button:active {
    border-radius: 3px;
    color: $fg_color;
    border-style: solid;
    background-image: linear-gradient(to bottom,
                                      shade($button_gradient_color_b, 0.7),
                                      $bg_color 50%,
                                      shade($button_gradient_color_a, 1.5));
}

.mate-panel-menu-bar .button:hover,
.mate-panel-menu-bar .button.flat:hover {
    border-radius: 3px;
    border-image: none;
    border-style: solid;
    border-color: shade($button_border, 1.1);
    background-image: -gtk-gradient (radial,
                      0.5 -2.0, 2.0,
                      0.5 -2.0, 3.0,
                      from (shade($button_gradient_color_a, 1.5)),
                      color-stop (0.42, shade($button_gradient_color_a, 0.7)),
                      color-stop (0.43, $bg_color),
                      to (shade($button_gradient_color_b, 0.7)));
}

/*Wncklist */
.mate-panel-menu-bar #tasklist-button {
    transition: all 400ms ease-out;
    padding: 2px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color:transparent;
    text-shadow: none;
    color: $panel_text_color;
    background-image: none;
/* Does NOT march gtk3.16/3.18 results
    background-image: -gtk-gradient (radial,
                      0.5 -2.0, 2.0,
                      0.5 -2.0, 3.0,
                      from (shade($button_gradient_color_a, 1.5)),
                      color-stop (0.42, shade($button_gradient_color_a, 0.7)),
                      color-stop (0.43, $bg_color),
                      to (shade($button_gradient_color_b, 0.7)));
*/
}
.mate-panel-menu-bar #tasklist-button:checked:hover,
.mate-panel-menu-bar #tasklist-button:checked,
.mate-panel-menu-bar #tasklist-button:active:hover,
.mate-panel-menu-bar #tasklist-button:active {
    border-radius: 3px;
    color: red;
    text-shadow: none;
    font-size: 100%;
    font: regular;
    border-style: solid;
    background-image: linear-gradient(to bottom,
                                      shade($button_gradient_color_b, 0.7),
                                      $bg_color 50%,
                                      shade($button_gradient_color_a, 1.5));
}

.mate-panel-menu-bar #tasklist-button:active:hover,
.mate-panel-menu-bar #tasklist-button:active {
    color: $panel_text_color;
    text-shadow: none;
    font-size: 100%;
    font: regular;
}

.mate-panel-menu-bar #tasklist-button:checked:hover,
.mate-panel-menu-bar #tasklist-button:checked {
    color: $panel_text_color_dark;
    text-shadow: none;
    font-size: 100%;
    font: regular;
}

/* FIXME, this does not work anymore with >= gtk+-3.20 */
//.mate-panel-menu-bar button .button:hover {
//    border-radius: 3px;
//    border-image: none;
//    border-style: solid;
//    border-color: shade($button_border, 1.1);
//    background-image: linear-gradient(to bottom,
//                                      shade($button_gradient_color_a, 1.5),
//                                      shade($button_gradient_color_a, 0.7) 39%,
//                                      $bg_color 40%,
//                                      shade($less_dark_color, 0.4));
//}

/* set normal button WnckSelector */
.mate-panel-menu-bar button menubar menuitem {
    border-radius: 3px;
    color: $fg_color;
    border-style: solid;
    background-image: none;
}

/* set selected button WnckSelector */
.mate-panel-menu-bar button menubar menuitem:hover {
    color: $fg_color;
    border-style: solid;
    background-image: linear-gradient(to bottom,
                                      shade($button_gradient_color_b, 0.7),
                                      $bg_color 50%,
                                      shade($button_gradient_color_a, 1.5));
}

/* set WnckSelector menuitem */
.mate-panel-menu-bar button menubar menuitem {
    background-image:  none;
    color: $panel_text_color;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}

/* set WnckSelector selected menuitem */
.mate-panel-menu-bar button menubar menuitem:hover {
    border-image: none;
    color: $fg_color;
    background-image: linear-gradient(to bottom,
                                      shade($selected_bg_color, 1.3),
                                      shade($selected_bg_color, 0.5));
}

#clock-applet-button,
.mate-panel-menu-bar.menubar,
MatePanelApplet > menubar {
    font-style: normal;
    font-weight: normal;
}

#clock-applet-button{
    padding: 4px; /*any less and outlines touch text or get cut off */
}

#PanelApplet {
    outline-offset: -2px;
}

#PanelApplet widget {
    padding-left: 2px;
    padding-right: 4px;
}

/*WnckPager is unnamed in GTK inspector so try this*/
PanelApplet.wnck-applet .wnck-pager {
    background-image: none;
    border-color: transparent;
    background-color: transparent;
    text-shadow: none;
}

/* selected WnckPager */
PanelApplet.wnck-applet .wnck-pager:selected {
    background-image: linear-gradient(to bottom,
                                      $selected_bg_color,
                                      shade ($selected_bg_color, 0.36));
}

/* prelight of WnckPager */
PanelApplet.wnck-applet .wnck-pager:hover {
    background-image: linear-gradient(to bottom,
                                      $bg_color,
                                      shade ($selected_bg_color, 0.86));
}

/* no background for icon-padding area */
na-tray-applet widget box widget {
    background-color: transparent;
}

na-tray-applet {
    -NaTrayApplet-icon-padding: 1px; /*any more and outlines get cut off*/
}

/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
}

/* volume applet, brightness applet */
.mate-panel-applet-slider {
    background: transparent;
}

.mate-panel-applet-slider .frame {
    background-color: $bg_color;
    border-image: none;
    border-style: solid;
    border-radius:3px;
    padding: 0px;
    margin: 0px;
}

.mate-panel-applet-slider .frame .frame{
    background-color:transparent;
    border-style: none;
    box-shadow: none;
}

.mate-panel-applet-slider .frame .button {
    color: $fg_color;
    padding: 4px 0px;
    margin: 0px;
}

/**********************
 * My modifications   *
 **********************/

/* panel taskbar font & windowpicker text color*/
.mate-panel-menu-bar #tasklist-button label {
  font-size: 100%;
  font: bold;
}

/* ACTIVE TASKBAR BUTTON */
//#tasklist-button {
//  color: green;
//  text-shadow: none;
//  box-shadow: none;
//  text-shadow: none;
//  font-size: 100%;
//  font: regular;
//  }

/* VALA APPMENU */
//.mate-panel-menu-bar #PanelApplet label,
//#tasklist-button:checked {
//  box-shadow: none;
//  text-shadow: none;
//  font-size: 100%;
//  font: bold;
//  //color: $panel_fg_color;
//}
