/************
 * Tooltips *
 ************/
tooltip,
.tooltip,
.overlay-bar {

  margin: 0px;
  border: none;
  border-radius: 0px;
  background-color: transparent;
  color: transparent;
  font-size: 1;

  &.background {
    background-color: transparent;
    border: none;
  }

  decoration { background-color: transparent; }

  * { // Yeah this is ugly
    padding: 0px;
    background-color: transparent;
    color: $fg_color;
  }
}