/**************
* Mate Panel *
***************/
//windowpicker schrift
.mate-panel-menu-bar button,
#tasklist-button * {
  padding: 0px 0px;
  text-shadow: none;
  color: black;
  font-size: 100%;
  font‑weight: light;
  font: SourceCodePro+Powerline+Awesome+Regular;
  //background-color: red;
  box-shadow: none;
  }

.mate-panel-menu-bar, .mate-panel-menu-bar menubar,
panel-toplevel.background,
panel-toplevel.background menubar {
  background-color: $panel_bg_color;
  text-shadow: none;
  color: black;
  font-size: 100%;
  font‑weight: bold;
  font: bold;
  font: SourceCodePro+Powerline+Awesome+Regular bold;
 }

.mate-panel-menu-bar button,
#tasklist-button {
  color: black;
  font-size: 100%;
  font‑weight: normal;
  font: SourceCodePro+Powerline+Awesome+Regular;
  text-shadow: none;
  background-color: $panel_bg_color;
  //box-shadow: inset 0 -2px #EEEEEC;
  }

#na-tray * {
  color: black;
  font-size: 100%;
  font‑weight: normal;
  font: SourceCodePro+Powerline+Awesome+Regular;
}

#tasklist-button:hover {
  color: green;
  text-shadow: none;
  //background-color: green;
  //box-shadow: inset 0 -2px #EEEEEC;
  }
/* ACTIVE TASKBAR BUTTON */
#tasklist-button:checked {
  color: green;
  text-shadow: none;
  background-color: #6E706C;
  //box-shadow: inset 0 -1px #EEEEEC;
  }
